.woocommerce div.product form.cart .button, .woocommerce a.button.alt {
  background: $none;
  color: $red;
  text-transform: uppercase;
  border: 1px solid $red;
  border-radius: 5px;
  transition: .5s ease all;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.woocommerce .woocommerce-message {
  border-top-color: $red;
  &::before {
    color: $red;
  }
}

.woocommerce div.product p.price {
  color: $red;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  display: none;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  float: none;
  width: 100%;
}

.woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
  color: $red;
  &:hover {
    color: $white;
  }
}

.woocommerce input.button.alt, .woocommerce a.button, .woocommerce input.button {
  color: $red;
  background-color: $none;
  border: 1px solid $red;
  text-transform: uppercase;
  &:hover {
    background-color: $red;
    color: $white;
  }
}

.woocommerce ul.products li.product .price {
  color: $red;
}

.single-product .record-details {

  margin-left: 0;

   li {
    list-style: none;
  }
}

.woocommerce a.added_to_cart {
  color: $red;
  text-decoration: underline;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.woocommerce #respond input#submit.added:after, .woocommerce a.button.added:after, .woocommerce button.button.added:after, .woocommerce input.button.added:after {
  display: none;
}

.woocommerce ul.products li.product .button {
  width: 100%;
  padding: .5rem 0;
}

.single-product {
  .product_title {
    text-transform: uppercase;
  }
  .entry-content {
    p {
      font-weight: 200;
    }
  }
  .track-list {
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }
  .record-summary-review {
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;

  table {
    width: 100%;
  }
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 46%;

  .latest-description {
    font-size: 11px;
    font-style: italic;
  }
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  height: 37px;
  label {
    display: inline-block;
  }
}

.woocommerce-checkout #payment ul.payment_methods li .about_paypal {
  margin-left: 1rem;
}

.woocommerce .woocommerce-info {
  border-top-color: $red;
}

.woocommerce .woocommerce-info:before {
  color: $red;
}
